.topnav{
  height: 255px;
  text-align: center;
  background-color: yellow;
}
body{
  background-color:;

}
.jumbotron{
  background-color: ;
   border-style: solid;
  box-shadow: 0 0 0.5px 0.5px #F2F2F2;
  padding:10px;
  margin-left:
}

.btn btn-danger1{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
