.topnav {
  height: 255px;
  text-align: center;
}
.player-console {
  display: none;
  background-color: purple;
}
body {
  background-color: #3498DB;
  background-image: url(../img/pigg.jpg);
}
h4{
  font-size: 56px;
}
.jumbotron {
  background-color:purple;
  border-style: solid;
  box-shadow: 0 0 0.5px 0.5px #F2F2F2;
  padding: 10px;
  margin-left:
}

.btn btn-danger1 {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
